[submodule "clang-format"]
	path = clang-format
	url = git@github.com:fox-tek/.clang-format.git
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule ".vimpkg/bundle/auto-pairs"]
	path = .vimpkg/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vimpkg/bundle/Gummybears"]
	path = .vimpkg/bundle/Gummybears
	url = https://github.com/vim-scripts/Gummybears.git
[submodule ".vimpkg/bundle/Jellybeans"]
    path = .vimpkg/bundle/Jellybeans
    url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vimpkg/bundle/pathogen"]
	path = .vimpkg/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vimpkg/bundle/tagbar"]
	path = .vimpkg/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vimpkg/bundle/Vim-Goto-Header"]
    path = .vimpkg/bundle/Vim-Goto-Header
    url = https://github.com/Yohannfra/Vim-Goto-Header.git
[submodule ".vimpkg/bundle/nerdtree"]
    path = .vimpkg/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule ".vimpkg/bundle/vim-fugitive"]
    path = .vimpkg/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule ".vimpkg/bundle/vim-airline"]
    path = .vimpkg/bundle/vim-arline
    url = https://github.com/vim-airline/vim-airline.git
[submodule ".vimpkg/bundle/vim-airline-themes"]
    path = .vimpkg/bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vimpkg/bundle/vim-template"]
    path = .vimpkg/bundle/vim-template
    url = https://github.com/aperezdc/vim-template.git
[submodule ".vimpkg/bundle/vim-clang-format"]
    path = .vimpkg/bundle/vim-clang-format
    url = https://github.com/rhysd/vim-clang-format.git
